@import "main.css";
.info{width:80vw;margin:0 auto;}
.scroller{position: relative;overflow: auto;-ms-overflow-style: none; scrollbar-width: none;}
.scroller::-webkit-scrollbar { display: none;}

#statoChart{width:100%;}
#scrollSchede,#scrollBiblio{position:relative; width:100%;height: 330px;}
#wrapSchedatori,#wrapNote, #map{height: 450px;}

.colonne > span{display:inline-block;font-size: 12px;vertical-align: top;text-align: left;}
.colonneSchede > span:nth-child(1){width:12%;}
.colonneSchede > span:nth-child(2){width:12%;}
.colonneSchede > span:nth-child(3){width:24%;}
.colonneSchede > span:nth-child(4){width:12%;}
.colonneSchede > span:nth-child(5){width:12%;}
.colonneSchede > span:nth-child(6){width:10%;}
.colonneSchede > span:nth-child(7){width:12%;}
.colonneSchede > span:nth-child(8){width:4%;}

.colonneBiblio > span:nth-child(1){width:40px;}
.colonneBiblio > span:nth-child(2){width:60px;}
.colonneBiblio > span:nth-child(3){width:150px;}
.colonneBiblio > span:nth-child(4){width:calc(100% - 285px);}
.colonneBiblio > span:nth-child(5){width:35px;}

.mapPopUp > p {margin:1px !important; padding:0 !important;}

/*
  PORTRAIT
  pixel 5 / iphone (6,7,8)= 393
  nexus 6 = 412
  nexus 7 = 600
  iPad portrait = 768
  LANDSCAPE
  pixel 5 / iphone (6,7,8) = 851
  nexus 6 = 732
  nexus 7 = 960
  iPad = 1024
  LAPTOP
  1920*1080
*/
@media (min-width: 576px){

}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){
}
