@import "main.css";
#login{width:90%;}
#logo {
  position: relative;
  width: 200px;
  height: 200px;
  background-image: url(../img/logoMuseo.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  margin: 0 auto 40px;
}

@media (min-width: 768px) {
  #login{width:50%;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #login{width:40%;}
}
