@import "main.css";
svg{width:80%;height:60vh;font-family: sans-serif;}
#sale>g,#vetrine g > g,#scaffali g{cursor:pointer}
#sale path, #sale rect, #vetrine path, #vetrine rect{fill:#ffffff;}

.contenitore, .sala{fill:rgb(255,255,255);}
.contenitoreHover, .contenitoreActive{fill:rgb(198,156,85) !important;}
.salaHover, .salaActive{fill:rgba(23,16,84,0.3) !important;}

#findWrap{
  position:relative;
  width:100%;
  margin:0 auto;
  padding:0 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#findWrap>.item{
  position:relative;
  cursor:pointer;
  background-repeat: no-repeat;
  background-position: center 30px;
  background-size: 40%;
  margin:2px;
}

#findWrap > .item > .legenda{
  position:absolute;
  width:100%;
  top:60%;
  bottom:0;
  left:0;
  padding:10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
}
