@import "main.css";
@import "gallery.css";
#mainTitle > div{
  position:relative;
  width:90%;
  margin:0 auto;
}
#mainTitle > div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background-image: url('../img/searchIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: .4;
}
#mainTitle > div > h2{text-align: center;}
label[for]{margin:0}
form h6{font-weight: bold;}

#searchTip p{font-size:0.8rem;margin:0;}
#searchTip p.tipTitle{font-weight: bold;}
#searchTip p.tipBody{margin-bottom:10px;}
#searchMsg{padding:0.2rem 1.25rem}

#totalItems{
  position: relative;
  width:100%;
  padding:20px 0;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 200;
  text-align: center;
}
.fixed {
  position: fixed !important;
  top: 60px;
}

@media (min-width: 768px) {
  #mainTitle > div{
    width:60%;
    padding-left:130px;
  }
  #mainTitle > div::before{
    background-position: left;
  }
  #mainTitle > div > h2{text-align: left;}
}

@media (min-width: 1200px){
}
