@import "main.css";
body>main{padding-top:60px !important;padding-bottom:0 !important;}
#map{position:relative;width:100% !important;height:calc(100vh - 120px); z-index:1;}
#geocoder,#comuniList,#geocoderResult{ position: absolute; z-index: 2000;}
#geocoder{top:20px;right:200px; width:300px;}
#geocoderResult{top:60px;right:200px; width:300px;}
#comuniList{top:20px; right: 20px;}
.mapPopUp{width:300px;}
.mapPopUp img{width:45%; height: auto;display: inline-block;margin:5px;}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* #map{width:calc(100vw - 250px);} */
}
